<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Search Book</title>
    <link
        rel="stylesheet"
        href="{{ url_for('static',filename='css/welcome.css')}}"
    >
    <style>
        body {
            
          background-image:
            url("{{url_for('static',filename='images/books.jpg')}}");
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
      </style>
  </head>
  <body>
    <p></p>
  </body>
</html>